.welcomeText {
  font-weight: bold;
  color: #383838;
  font-size: 2.25em;
}

.blueCards {
  background-color: #0250ce;
  height: 7.5em;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 20px;
  overflow: hidden;
}