.welcomeText {
  font-weight: bold;
  color: #383838;
  font-size: 2.25em;
  margin-left: 2.65em;
  margin-bottom: -1em;
}

.blueCards {
  background-color: #0250ce;
  height: 7.5em;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 20px;
  overflow: hidden;
}

.cardsIcon {
  color: #0144af;
}

.cardsAccount {
  background: #fff;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .0705882353);
  border-radius: 5px;
  color: #242429;
}

.cardsAccountIcon {
  color: white;
  background-color: #123159;
  border-radius: 50%;
  padding: 8px;
  display: inline-block;
}

.cardsGraphIcon {
  color: white;
  background-color: #123159;
  border-radius: 50%;
  padding: 8px;
  display: inline-block;
  padding-right: 11px;
  padding-left: 11px;
}

.cardsAccountTitle {
  color: black;
  font-weight: bold;
}

.cardsListingIcon {
  color: #133158;
}