/* components/Tabs.module.css */
.tabs {
  display: flex;
  gap: 7em;
  margin-bottom: 2em;
  margin-top: 2em;
  /* margin-left: 10em;
  margin-right: 10em; use these if you the account page again */
  margin-left: 17em;
  margin-right: 17em;
  border-bottom: 1px solid #ebebeb;
}

.tabs a {
  text-decoration: none;
  padding: 8px;
  color: black;
  border-bottom: 2px solid transparent;
  font-weight: bold;
}

.tabs a.active {
  border-bottom: 2px solid #123159;
}

.tabs a:hover {
  border-bottom: 2px solid #123159;
}

.tabs::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
}

.tabs:hover::after {
  width: 100%;
}