.cardsAccountType {
  background: #fff;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .0705882353);
  border-radius: 5px;
  color: #242429;
  margin-right: 15em;
  width: 15em;
}

.cardsGraphIcon {
  color: white;
  background-color: #123159;
  border-radius: 50%;
  padding: 8px;
  display: inline-block;
  padding-right: 11px;
  padding-left: 11px;
}